@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

footer {
    background-color: #512da8;
    color: #fff;
    padding: 40px 0;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #c9d6ff;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
    color: #eee;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #c9d6ff;
}

.footer-section a i {
    font-size: 24px;
    margin: 10px;
    color: #fff;
    transition: 0.3s;
}

.footer-section a i:hover {
    color: #c9d6ff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #333;
    width: 100%;
    position: relative;
}

body {
    min-height: 120vh;
}

.container {
    margin-bottom: 150px;
}
